body {
    font-family: 'Bangers', cursive;
    width:96%;
    margin: 0 auto;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#holder {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    padding: 5%;
    border-radius: 10px;
    border: #adadad 1px solid;
}
.hidden {display: none;}
#character img {
    width: 100%;
} 

#comics {display:inline-block;}

.button {
    padding: 10px;
    border:#adadad 1px solid;
    cursor: pointer;
    background: #aa1428;
    transition: background 0.2s;
    text-align:center;
    color:#fff;
    width: fit-content;
    
    margin: 20px auto;
    border-radius: 5px;
}
.button:hover {
    background: #000042;

}
.cb {
    width: 100%;
    float:left;
    margin: 4%;
}
.cb img{
    width: 33%;
    float:left;
    margin-right: 10%;
}